html * {
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
}

#chart {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    border-collapse: collapse;
    table-layout: fixed;
    width: 100vw;
}

th, td {
    text-align: center;
    background-color: whitesmoke;
}

.settings-container {
  position: fixed;
  overflow-y: scroll;
  top: -100%;
  left: 0;
  padding: 20px;
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  z-index: 900;
  background-color: lightskyblue;
}


.open-settings {
  -webkit-transition: all 0.7s 0.3s ease-in-out;
  transition: all 0.7s 0.3s ease-in-out;
  -webkit-transform: translateY(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(100%);
  /* IE 9 */
  transform: translateY(100%);
  /* Firefox 16+, IE 10+, Opera */
}

#settings-open {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 100;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background: none;
    opacity: 50%;
}

.settings-close {
    position: absolute;
    top: 0;
    left: 0;
}

.settings-section {
    margin: 10px;
}