body {
  background-color: dodgerblue;
}

html * {
  -webkit-transition: .5s ease;
  transition: .5s ease
}

.settings {
  position: fixed;
  overflow-y: scroll;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 900;
  background-color: white;
}

.opensettings {
  -webkit-transition: all 0.7s 0.3s ease-in-out;
  transition: all 0.7s 0.3s ease-in-out;
  -webkit-transform: translateY(100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(100%);
  /* IE 9 */
  transform: translateY(100%);
  /* Firefox 16+, IE 10+, Opera */
}

.aqua-gradient {
  color: white !important;
  font-weight: bold;
  background: -webkit-linear-gradient(50deg, #2096ff, #05ffa3) !important;
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
}

.task-button-container {
  height: 50px;
  margin-top: 20px;
}

.task-button {
  height: 100%;
  display: block;
}

.template {
  display: none;
}

.sidebar {
  display: none;
}
