table {
    margin: 5px;
    width: calc(100% - 10px);
    min-width: calc(100% - 10px);
    border-collapse: collapse;
    table-layout: fixed;
}

td {
    border: 1px solid black;
    padding: 5px;
}

button {
    width: calc(50% - 10px);
    padding: 10px;
    background-color: lightgray;
    border: none;
    margin: 5px;
}

a {
    color: black;
    width: calc(100% - 40px);
    font: 400 13.3333px Arial;
    padding: 10px;
    background-color: lightgray;
    text-decoration: none;
    text-align: center;
    position: fixed;
    bottom: 10px;
    left: 10px;
}

body {
    padding-bottom: 50px;
}

p {
    text-align: center;
}