html * {
    font-family: roboto, Verdana, Geneva, Tahoma, sans-serif;
    -webkit-transition: all 0.2s ease-in-out, font-size 0s ease-in-out;
    transition: all 0.2s ease-in-out, font-size 0s ease-in-out;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
   -webkit-user-select: none;
   -webkit-touch-callout: none;
    background-color: #042069;
}

#chart {
    height: 100vh;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

th, td {
    text-align: center;
    background-color: whitesmoke;
    word-wrap: break-word;
}

h1 {
    margin: 0;
}

.done {
    text-decoration: line-through;
}

.splash-container {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #042069;
    z-index: 200;
}

.splash {
    background-color: whitesmoke;
    position: absolute;
    width: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    text-align: center;
}

.splash-button {
    padding: 15px;
    background-color: #99ccff;
    border: none;
    margin: 5px;
}